.game {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  align-items: center;
}

.game__result {
  font-size: 2rem;
}

.keyboard {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.keyboard__letter {
  width: 1rem;
  text-align: center;
  aspect-ratio: 1/1;
  font-weight: 700;
  padding: 1rem;
  border: 1px solid rgb(92, 87, 87);
  transition: all 100ms ease-in-out;
}

.keyboard__letter:hover {
  background-color: rgb(72, 72, 238);
  color: white;
  cursor: pointer;
}

.word__letter {
  font-size: 2rem;
  margin-inline: 0.5rem;
  font-weight: 700;
  border-bottom: 1px solid black;
}
